        <div class="article col col-4 col-d-6 col-t-12">
  <div class="article__inner">

    <div class="article__head">
      <time class="article__date" datetime="{{ post.date }}">{{ post.date | date: '%d %b %Y' }}</time>

      

      
      <a class="article__image" href="{{ post.url | relative_url }}">
        <img class="lazy" data-src="{{ post.image }}" alt="{{ post.title }}">
      </a>
      

    </div>

    <div class="article__content">

      <h2 class="article__title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>

      
      <p class="article__excerpt">{{ post.description }}</p>
      

    </div>
  </div>
</div>
