{% include base_path %}

<div id="text-5" class="widget_text">
  <div class="textwidget">
    <div class="socialmedia">
      <h6 class="widget_titles">Bagikan:
      <a href="https://facebook.com/sharer.php?u={{ base_path }}{{ page.url }}"><i class="mx-2 fab fa-facebook-f fa-lg"></i><span class="screen-reader-text">Facebook</span></a>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ base_path }}{{ page.url }}"><i class="mx-2 fab fa-twitter fa-lg"></i><span class="screen-reader-text">Twitter</span></a>
      </h6>
    </div>
  </div>
</div>
