<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include header.html %}

{% include search.html %}

{{ content }}

{% include footer.html %}

<!-- progress bar -->
<script>
// When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
</script>

  <script src="https://menca.netlify.app/js/scripts.js"></script>
  <script src="https://menca.netlify.app/js/common.js"></script>
</body>

</html>
